html {
	background-image: url("/home/steve/digital1/iFrKc0.jpg");
	size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	width: 75%;
	margin: auto;
	background-color: rgba(52, 73, 94, 0.8);
	padding-bottom: 3em;
	position: relative;
}

p{
	color: #fff;
	font-size: 1.5em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: .5em;
	width:80%; 
	margin: auto;

	
}

header {
	color: #fff;
	font-size: 4em;
	position: relative;
	margin: auto;
	background-color: #212F3C;
	width: 100%;
	text-align: center;

}
