html {
	background-image: url("background.jpg");
	size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	width: 85%;
	margin: auto;
	position: relative;
}

p{
	color: #fff;
	font-size: 1.4em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
	width:50%; 
	float: right;

	
}
section#title  {

	display: block;
	width: 30%;
        position: fixed;
	margin: auto;
	z-index: 9999999;
	top: 0;
	float: left;
	background-color: rgba(141, 141, 159, 0.8);
	text-align: center;
}
section#title h1{
	color: #032C52;
	font-size: 4em;

}
section#title h2 {

	color: #032C52;
	font-size: 1.5em;
}
header img {

	display: block;
	margin: auto;
	padding: 2em;

}

.top {

	bottom: 0;
}
.bottom {
	top: 0;

}

